* {
  box-sizing: border-box;
}

body {
  background-image: url(background.png);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #4A4A4A;

}
.DP {
    width: 18em;
    height: 18em;
    border-radius: 24px;
    object-fit: fill;
    margin-right: 1em;
    
}
.contain {
  width: 62em;
  height: 18em;
  border-radius: 24px;
  padding: 20px 30px;
  background-color: white;
  line-height: 24px;

}
.resume-header {
    width: 82.5em;
    height: 18.5em;
    font-size: 1em;
    color: #4A4A4A;
    display: flex;
}

/*=======================
Skill Bar
=======================*/
.proficiency {
    width: 35em;
    height: 27em;
    border-radius: 24px;
    background-color: white;
    padding: 1em;
    margin: 2em 0;
}
.proficiency{
    position: relative;
    
}


.level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 1.5em;
} 

.skill-item {
    margin-bottom: 1em;
    max-width: 25em;

}


.skill-bar-outer {
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden; 
}

.skill-bar-inner {
    background-color: #4A8B70; 
    height: 100%;
    border-radius: 10px;
    width: 200px;
    
}


/*=====================
 Specific skill levels 
 =====================*/
.javascript {
    width: 5%;
}
.react {
    width: 5%;
}
.node {
    width: 5%;
}
.html-css {
    width: 80%; 
}

/*=============================
Styling of the skills pill box
==============================*/
.skills {
  width: 44em;
  height: 27em;
  display:flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  background-color: white;
  border-radius: 24px;
}

.row-1 {
  display: flex;
  gap: 1em;
}
.row-2 {
  display: flex;
  gap: 1em;
} 
.row-3 {
  display: flex;
  gap: 1em;
}
.row-4 {
  display: flex;
  gap: 1em;
}
.row-5 {
  display: flex;
  gap: 1em;

}
.pill {
  background-color: #E7F0EC;
  border-radius: 20px;
  padding: 0.6em;
  width: 15em;
  height: 2.5em;
  text-align: center;
} 


/*=======================
The Project Crad stylings 
========================*/


.proj1 {
  display:grid;
  grid-template-columns: repeat(auto-fit,1fr);
  gap: 1em;
  
}

.card {
  height: 30em;
  width: 10em;
  padding: 0;
  display: grid;
}

.proj1 {
  display: flex;
  align-items: stretch;
}
.proj1 > * {
  flex: 1;
} 

/*=======================
 Style the Project Cards 
 =======================*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: left;
  background-color: #f1f1f1;
  border-radius: 24px; 
} 

.one {
  background-color: #4A8B70;
  color: white;
  border-radius: 24px;
}
.card {
  position: relative;
}
.heart{
  position: absolute;
  top: 20px;
  right: 10px;
  
}
/*=========================================================
 Styling the education box using float before applying grid 
 =========================================================*/

.school {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.block {
  background-color: #bbb;
  height: 28px;
  
}

.proj {
  width: 82em;
  height: 47em;
  background-color: white;
  border-radius: 24px;
  padding: 2em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
} 

.education {
  width: 62em;
  height: 53em;
  background-color: white;
  border-radius: 24px;
  padding-top: 1em;
  padding-left: 1.5em;
  margin: 3em 0;
} 
.green {
  position: relative;
}
.recent {
  position: absolute;
  top: 10px;
  right: 5px;
  margin-bottom: 10em;
  
}
.green {
  width: 59em;
  height: 15em;
  border-radius: 24px;
  background-color: #4A8B70;
  color: white;
  padding: 2em 1em;
}
.grey {
  width: 59em;
  height: 15em;
  border-radius: 24px;
  background-color: #E7F0EC;
  color: black;
  padding: 2em 1em;
  margin: 0.5em 0;
  
}

/*====================================================
Sorting through the experience tab for correct styling
=====================================================*/
.experience {
  width: 82em;
  height: 40em;
  border-radius: 24px;
  background-color: white;
  padding: 2em;
  margin: 0.5em 0;
  
}
.school-1 {
  width: 79em;
  height: 9em;
  border-radius: 24px;
  background-color: #4A8B70;
  padding: 0.5em;
  margin: 0.5em 0;
  color:white;
}
.school-2 {
  width: 79em;
  height: 9em;
  border-radius: 24px;
  background-color: #E7F0EC;
  padding: 0.5em;
  margin: 0.5em 0;
}

/*=============
Footer Styling
==============*/
.footer {
  width: 82em;
  height: 10em;
  border-radius: 24px;
  background-color: #D76239;
  color: white;
  text-align: left;
  padding-top: 2em;
  padding-left: 2em;
} 



/*===============
Tools Section
===============*/
.Tools-container {
  width: 18.75em;
  height: 53em;
  background-color: white;
  border-radius: 24px;
  text-align: center;
} 

.languages-bar,
.design-bar,
.tools-bar
{
  text-align: center;
  background-color: #E7F0EC;
  border-radius: 24px;
  display: grid;
  grid-template-columns:1fr 1fr ;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.bar {
  color: white;
  background-color: black;
  border-radius: 20px;
  text-align: center;
  width: 6em;
  margin: auto;
  margin-top: 1em;
  padding-bottom: .2em;
  
}

.languages-bar {
  width: 11.5em;
  height: 17em;
} 

.design-bar {
  width:11.5em;
  height:10em;
}

.tools-bar {
  width: 11em;
  height: 12em;
} 

.tool-logo {
  place-self: center;
} 

/*============
Mobile Layout
=============*/




/*=====================
Web Fist Layout
=====================*/

.site-layout {
  display: grid;
  grid-template-columns: 800px 800px;
  gap: 1em;
  margin: 0%;
  padding: 0%;
  width: 100vh;
  align-items: center;
  justify-items: center;
  grid-template-areas: 
  "header header"
  "proficiency skills"
  "projects projects"
  "education tools"
  "experience experience"
  "footer footer";
}


.resume-header {
  grid-area: header;
}
.proficiency {
  grid-area: proficiency;
  justify-self: end;
  margin-right: 5.5em;
}
.skills {
  grid-area: skills;
  grid-area: 2/1;
  margin-left: 88em;
}
.proj {
  grid-area: projects;
}
.education {
  grid-area: education;
  justify-self: start;
  margin-left: 10em;
}
.Tools-container {
  grid-area: tools;
  justify-self: end;
  margin-right: 9.5em;
}
.experience {
  grid-area: experience;
}
.footer {
  grid-area: footer;
}
 

/*=============================
Media query for small scre3ens
=============================*/
@media (max-width: 640px) {
  .site-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
   
.resume-header,
.proficiency,
.skills,
.proj,
.education,
.Tools-container,
.experience,
.footer {
  width: 90%;
}
}

/*.DP {
    width: 9em;
    height: 9em;
    border-radius: 12px;
    object-fit: fill;
    margin-right: 0.5em;
    
}
.contain {
  width: 31em;
  height: 9em;
  border-radius: 12px;
  padding: 10px 15px;
  background-color: white;
  line-height: 12px;

}
.resume-header {
    width: 41.25em;
    height: 9.25em;
    font-size: 0.5em;
    display: flex;
}

.proficiency {
    width: 17,5em;
    height: 13,5em;
    border-radius: 12px;
    background-color: white;
    padding: 0.5em;
    margin: 1em 0;
    font-size: small;
}
.proficiency{
    position: relative;
    
}


.level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1em;
    margin-right: 0.75em;
} 

.skill-item {
    margin-bottom: 0.5em;
    max-width: 12.5em;

}


.skill-bar-outer {
    background-color: #e0e0e0;
    height: 10px;
    border-radius: 5px;
    overflow: hidden; 
}

.skill-bar-inner {
    background-color: #4A8B70; 
    height: 100%;
    border-radius: 5px;
    width: 100px;
    
}*/



}