* {
  box-sizing: border-box;
}

.DP {
    width: 10em;
    height: 12em;
    border: 5px solid aqua;
    padding: 1em;
    
}

.resume-header {
    width: 82.5em;
    height: 18.5em;
    display: flex;
    border: 5px solid aqua;
}

.proficiency {
    width: 35em;
    height: 26em;
    border: 5px solid aqua;

}
.proficiency{
    position: relative;
    
}


.level {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 1.5em;
} 



.skill-item {
    display: block;
    margin-bottom: 1em;
    max-width: 25em;
    margin-left: ;

}

.skill-bar-outer {
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden; /* Ensures inner bar stays within bounds */
}

.skill-bar-inner {
    background-color: #4CAF50; /* Example color */
    height: 100%;
    border-radius: 10px;
    width: 200px;
    
}


/* Specific skill levels */
.javascript {
    width: 5%;
}
.react {
    width: 5%;
}
.node {
    width: 5%;
}
.html-css {
    width: 80%; 
}
