* {
  box-sizing: border-box;
}

.DP {
    width: 10em;
    height: 12em;
    border: 5px solid aqua;
    padding: 1em;
    
}

.resume-header {
    width: 82.5em;
    height: 18.5em;
    display: flex;
    border: 5px solid aqua;
}

.proficiency {
    width: 35em;
    height: 26em;
    border: 5px solid aqua;

}
.proficiency{
    position: relative;
    
}


.level {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 2em;
    margin-right: 1.5em;
} 

.skill-item {
    margin-bottom: 1em;
    max-width: 25em;

}


.skill-bar-outer {
    background-color: #e0e0e0;
    height: 20px;
    border-radius: 10px;
    overflow: hidden; /* Ensures inner bar stays within bounds */
}

.skill-bar-inner {
    background-color: #4CAF50; /* Example color */
    height: 100%;
    border-radius: 10px;
    width: 200px;
    
}


/* Specific skill levels */
.javascript {
    width: 5%;
}
.react {
    width: 5%;
}
.node {
    width: 5%;
}
.html-css {
    width: 80%; 
}

/*.skils {
  display: flex;
  justify-content: space-between;

}*/
.skills {
  border: 5px solid aqua;
  width: 44em;
  height: 27em;
  display:flex;
  flex-direction: column;
  gap: 2em;
  padding: 2em;

}

.row-1 {
  display: flex;
  gap: 1em;
}
.row-2 {
  display: flex;
  gap: 1em;
} 
.row-3 {
  display: flex;
  gap: 1em;
}
.row-4 {
  display: flex;
  gap: 1em;
}
.row-5 {
  display: flex;
  gap: 1em;

}
.pill {
  border: 2px solid aqua;
  background-color: aqua;
  border-radius: 20px;
  padding: 0.6em;
  width: 15em;
  height: 2.5em;
  text-align: center;
} 

.col-container {
  display: table;
  width: 100%;
}
.col {
  display: table-cell;
  border-spacing: 30px;
}